version: '3.8'
volumes:
  postgres-data:
services:
  app:
    container_name: javadev
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      POSTGRES_PASSWORD: P@ssw0rd!
      POSTGRES_USER: localdbuser
      POSTGRES_DB: localdb
      POSTGRES_HOSTNAME: postgresdb

    volumes:
      - ..:/workspaces/learning-jdbc-2725172:cached
    command: sleep infinity
    depends_on:
      db:
        condition: service_started
    networks:
      - default
  db:
    container_name: postgresdb
    image: postgres:latest
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: P@ssw0rd!
      POSTGRES_USER: localdbuser
      POSTGRES_DB: localdb
    networks:
      - default
